@media (max-width:576px){
    .feat_feature__CB4CT .feature__article .card__about {
        font-family: var(--font-opensans);
        font-size: 27px;
        font-weight: 400;
        line-height: 37px;
        color: #000000;
        margin-bottom: 20px;
    }
    .newsarticle_article__GtpiF .article__section__headng {
        font-family: var(--font--opensans);
        font-size: 39px;
        font-weight: 400;
        line-height: 49px;
        color: #000000;
        newsletter_nletter__QxmVG .nletter__container {
            background-color: #0a2640;
            margin-bottom: 20px;
        newsarticle_article__GtpiF .article__section__fstrow {
        margin-top: 0px;
        margin-bottom: 52px;
        max-width: 998px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 26px;
        grid-row-gap: 0px;
        max-width: 990px;

        article__section__fstrow .card__content {
            display: flex;
            flex-direction: column;
            gap: 2px;
        .article__section__fstrow .card__content .catog {
            margin-bottom: 12px;
            font-family: var(--font--opensans);
            font-size: 16px;
            font-weight: 700;
            line-height: 28px;
            color: #0a2640;

            newsarticle_article__GtpiF .article__section__fstrow .card__descr {
                font-family: var(--font--opensans);
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #000000;
                margin-bottom: 20px;
            }

            ewsarticle_article__GtpiF .article__btn {
                max-width: 219px;
                border-radius: 56px;
                border: 2px solid #0a2640;
                padding: 16px 23px 16px 23px;
                margin-bottom: 46px;
                cursor: pointer;

                .newsletter_nletter__QxmVG .nletter__wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 29px;
                    padding: 46px 0px;
                .newsletter_nletter__QxmVG .nletter__wrapper .firstdiv {
                    width: 100%;
                    max-width: 716px;
                    font-family: var(--font-manrope);
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    color: #ffffff;
                    text-align: center;

                    newsletter_nletter__QxmVG .nletter__wrapper .sdiv .button {
                        border-radius: 56px;
                        border: 2px solid #65e4a3;
                        padding: 13px 39px 16px 39px;
                        background: #65e4a3;


                        ooter_footer__TLiWD .footer__left {
                            display: flex;
                            flex-direction: column;
                            gap: 19px


                            

}
.footer_footer__TLiWD .footer__right__links .list ul li {
    font-family: var(--font-opensans);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777777;
    margin-bottom: 15px;

    newsletter_nletter__QxmVG .nletter__wrapper .sdiv .email input[type=text]::placeholder {
        font-family: var(--font-opensans);
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        color: black;

        nletter__wrapper .sdiv .button {
            border-radius: 56px;
            border: 2px solid #65e4a3;
            padding: 9px 35px 10px 35px;
            background: #65e4a3;
}